services:

  db:
    hostname: linkman.main.db
    image: mysql:8.0.31
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASS}
      MYSQL_DATABASE: ${DB_NAME}
    volumes:
      - ./main_db:/var/lib/mysql

    ports:
      - "3307:3306"
    networks:
      - linkman.net

  phpmyadmin:
    image: phpmyadmin
    ports:
      - "8000:80"
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=db
      - PMA_PORT=3306
      - PMA_ARBITRARY=1

    depends_on:
            - db
    networks:
      - linkman.net

networks:
  linkman.net:
    driver: bridge